.timeline {
    position: relative;
    padding: 20px;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 80px;
    bottom: 50px;
    width: 4px;
    background-color: rgb(55, 15, 146); /* Línea central */
    transform: translateX(-50%);
}
.timeline-item {
    position: relative;
    margin-bottom: 30px;
}
.timeline-item .circle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(55, 15, 146); /* Color del círculo */
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.timeline-item-content {
    padding: 10px;
    background-color: rgb(120, 114, 230,0.6); /* Fondo del cuadro */
    color: white;
    border-radius: 5px;
    width: 90%;
}
.left {
    text-align: right;
    padding-right: 60px;
}
.right {
    padding-left: 60px;
}
.timeline-item-content h5 {
    font-weight: bold;
}